html, body {
  height: 100%;
  margin: 0;
}


#app {
  height: 100%;
  min-height: 100%;
}


.window-container {
  display: grid!important;
  grid: repeat(2, 50%) / repeat(4, 33%);
  padding: .1rem;
  height: 23em;
}

.window-item {
  width: 320;
  height: 240px;
  margin-left: auto;
  margin-right: auto
}

.player-icon {
  width: 190px;
  height: 220px;
}

.video-item {
  width: 100%;
  height: 100%;
  background: #CCCCCC;
  overflow: hidden;
  /* background-repeat:no-repeat; */
  vertical-align: middle;
  /* background-image: url('player.jpg') */
}

.chat-box {
    width: 100%;
    height: 100%;  
}

@keyframes example {
    /* 0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
    /* from {top: 0px; background-color: yellow;}
    to {top: 200px; background-color: blue;} */
    from {height: 20px;}
    to {height: 250px;}
  }

.answer-item {
  display: block;
  white-space: nowrap;
  width: 100%;
  /* width: fit-content; */
  border: none;
  background: none;
  font-size: 2.5em;
  text-align: left;
  cursor: pointer;
}

.selected {
  border: 1px solid red;
  border-radius: .2em
}

.selected:focus {
    outline: none;
}

.game-status {
    animation-name: game-status;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

@keyframes game-status {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

.game_role {
    _border: 1px solid green;
    background: white;
    position: relative;
    /* margin: auto; */
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    height: fit-content;
    left: 0;
    bottom: 1em;
    width: -webkit-fill-available;
}